/*
  Kashev Dalmia
  kashev.dalmia@gmail.com

  kashevdalmia.com

  main.scss
*/

/*
 * IMPORTS
 */
/* BOURBON NEAT */
@import "bourbon/bourbon";
@import "neat/neat";

/* RESET */
@import "reset.css";

/* FONTS */
/* LATO FONT */
@import url("http://fonts.googleapis.com/css?family=Lato");
/* INCONSOLATA */
@import url("http://fonts.googleapis.com/css?family=Inconsolata");


/*
 * MIXINS
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


/*
 * VARIABLES
 */

$lato-stack    : "Lato", Helvetica, sans-serif;
$console-stack : "Inconsolata", monospace;

$background : #FFF;
$text       : #111;

$page-margin : 2%;

$h1-size : 3.5rem;
$h2-size : 2.3rem;
$p-size  : 1.6rem;
$padding-factor : 0.1;
$margin-factor  : 0.1;

$page-width : 40.0rem;


/*
 * NEAT GRID CSS
 */
// default grid is 12
.grid {
  @include outer-container;
  .half       { @include span-columns(6); }
  .third      { @include span-columns(4); }
  .two-thirds { @include span-columns(8); }
  .fourth     { @include span-columns(3); }
}


/*
 * STYLED TAGS
 */

html {
  font-size: 62.5%; // makes default font size 10px, for easy math
}

html body {
  background-color : $background;
  color : $text;
  font-family: $lato-stack;
  margin : $page-margin;
}

header {
  text-align: center;
}

h1 {
  font-size: $h1-size;
  font-weight: bold;
  padding : $padding-factor * $h1-size;
  margin  : $margin-factor  * $h1-size;
}

h2 {
  font-size: $h2-size;
  font-family: $console-stack;
  padding : $padding-factor * $h2-size;
  margin  : $margin-factor  * $h2-size;
}

p {
  font-size: $p-size;
  text-align: justify;
  line-height: $p-size * (($padding-factor * 3) + 1);

  padding : $padding-factor * $p-size;
  margin  : $margin-factor  * $p-size;
}

strong {
  font-weight: bold;
}

.content {
  max-width: $page-width;
  margin: 0 auto;
}

/*
 * SELECTION
 *  Because why not?
 */
$selection-color      : $background;
$selection-background : $text;
::selection      { color : $selection-color; background : $selection-background;}
::-moz-selection { color : $selection-color; background : $selection-background;}

/*
 * UTILITY CLASSES
 */

.circle {
  @include border-radius(50%);
}
.contained {
  max-width  : 100%;
  max-height : 100%;
}
.center {
  margin: 0 auto;
}



/*
 * ICONS
 */
/* COLOR */
$gmail-color    : #DD4B39;
$linkedin-color : #007FB1;
$github-color   : #060606;
/* SIZE */
$icon-size : 48px;
/* CLASSES */
#kd-icons-bar {
  width: 30.0rem;
  padding : $padding-factor * 20.0rem;
  .kd-icon-box {
    @include border-radius(50%);
    display: inline-block;
    width  : $icon-size;
    height : $icon-size;
    text-align: center;
    font: 0/0 a;
  
    .kd-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      vertical-align: middle;
      height: 90%;
    }
  }
  /* Specific Icon Classes */
  .gmail-icon    { background-color : $gmail-color; }
  .linkedin-icon { background-color : $linkedin-color; }
  .github-icon   { background-color : $github-color; }
}

.kd-icon-box:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}



/*
 * ONE OFF CLASSES
 */

.headshot-container {
  width: 12.8rem;
  border: 1.28rem;
  display: block;
  margin-top : 20px;
}
