/*
  Kashev Dalmia
  kashev.dalmia@gmail.com

  kashevdalmia.com

  main.scss
*/

/*
 * IMPORTS
 */
/* BOURBON NEAT */
@import "bourbon/bourbon";
@import "neat/neat";

/* RESET */
@import "reset.css";

/* FONTS */
/* LATO FONT */
@import url("http://fonts.googleapis.com/css?family=Lato");
/* INCONSOLATA */
@import url("http://fonts.googleapis.com/css?family=Inconsolata");


/*
 * MIXINS
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


/*
 * VARIABLES
 */

$lato-stack    : "Lato", Helvetica, sans-serif;
$console-stack : "Inconsolata", monospace;

$background : #FFF;
$text       : #111;

$page-margin : 2%;

$h1-size : 3.2rem;
$h2-size : 1.8rem;
$padding-factor : 0.05;
$margin-factor  : 0.05;


/*
 * NEAT GRID CSS
 */
// default grid is 12
.grid {
  @include outer-container;
  .half       { @include span-columns(6); }
  .third      { @include span-columns(4); }
  .two-thirds { @include span-columns(8); }
  .fourth     { @include span-columns(3); }
}


/*
 * STYLED TAGS
 */

html {
    font-size: 62.5%; // makes default font size 10px, for easy math
}

html body {
    background-color : $background;
    color : $text;
    font-family: $lato-stack;
    margin : $page-margin;
}

header {
    text-align: center;
}

h1 {
    font-size: $h1-size;
    font-weight: bold;
    padding : $padding-factor * $h1-size;
    margin  : $margin-factor * $h1-size;
}

h2 {
    font-size: $h2-size;
    font-family: $console-stack;
    padding : $padding-factor * $h2-size;
    margin  : $margin-factor * $h2-size;
}


/*
 * UTILITY CLASSES
 */

.circle {
    @include border-radius(50%);
}
.contained {
    max-width  : 100%;
    max-height : 100%;
}
.center {
    margin: 0 auto;
}


/*
 * ONE OFF CLASSES
 */

.headshot-container {
    width: 12.8rem;
}

.icon{
    padding : 0;
    margin  : 0;
    width   : 12.8rem;
    height  : 12.8rem;
    margin: 0 auto;
}

.gmail {
    max-width  : 100%;
    max-height : 100%;
    background-color: #DD4B39;
}
.github {
    max-width  : 100%;
    max-height : 100%;
}
.linkedin {
    max-width  : 100%;
    max-height : 100%;
    background-color: #007FB1;
}
